<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sylu.com.baidumap">
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.baidu.lbsapi.API_KEY"
            android:value="6uG5Q6fVegPIW3eASvPOmTkiUUgjRYPO"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".map.BaseMap_AC"/>
        <activity android:name=".map.MapViewFragment_AC"/>
        <activity android:name=".map.LayerMap_AC"/>
        <activity android:name=".map.MapControl_AC"/>
        <activity android:name=".map.Geometry_AC"/>
        <activity android:name=".map.Location_AC"/>
        <activity android:name=".map.OverlayMap_AC"/>
        <activity android:name=".map.HeatMap_AC"/>
        <activity android:name=".search.Geo_AC"/>
        <activity android:name=".search.POISearch_AC"/>
    </application>

</manifest>